.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #333;
}

html, body {
  height:100%;
}

#container {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display:         flex;
           -webkit-align-items: center;
                   align-items: center;
           -webkit-justify-content: center;
                   justify-content: center;
}

.theResults {
  list-style: none;
  padding-left:0;
  width: 255px;
}

.theResults li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}

button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.random a {
  color: #FFF;
}
